<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mykmovies.android.myk_baking_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_image_video_thumbnail"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_image_video_thumbnail"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeSteps"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mykmovies.android.myk_baking_app.MainActivity" />
        </activity>
        <activity android:name=".VideoDisplayActivity" />

        <provider
            android:name=".provider.RecipeContentProvider"
            android:authorities="com.mykmovies.android.myk_baking_app"
            android:exported="false" />

        <receiver
            android:name=".widget.RecipeInfoProviderWidget"
            android:label="@string/widget_title">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.mykmovies.android.myk_backing_app.app.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_info_provider_widget_info" />
        </receiver>

        <service
            android:name=".service.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"></service>
    </application>

</manifest>